body {
  background-image: url(./Assets/background.png);
  background-repeat: no-repeat, repeat;
  background-size: 105vw;
  overflow: hidden;
  font-family: "VT323", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-top: 5px;
  width: 200px;
}

canvas {
  margin-top: 20px;
  border-radius: 10px;
  border: solid 5px rgb(76, 57, 44);
  /* box shadow from https://cssgenerator.org/box-shadow-css-generator.html */
  box-shadow: -2px -2px 148px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -2px -2px 148px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: -2px -2px 148px -3px rgba(0, 0, 0, 1);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  margin-top: 25px;
  font-family: "VT323", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1rem;
}
