body {
  background-color: darkgreen;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 200px;
}

canvas {
  margin-top: 100px;
  border-radius: 10px;
  border: solid 20px rgb(87, 59, 39);
}
